{% extends "../master.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Add New Event | UEMS
{% endblock %}

{% block content %}
<div class="uems-header">
    <div class="row">
        <div class="col-md-12">
            <h1 class="fw-bolder">New Event</h1>
            <span>You may add a new event from this page. Please fill the form accurately.</span>
        </div>
    </div>
</div>
<div class="uems-body">
    <div class="row">
        <div class="col-md-12">
             {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <script>
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: '{{ message }}',
                                customClass: {
                                    popup: 'glass'
                                }
                            });
                        </script>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                {{form.media}}
                <button class="btn btn-success" type="submit">Add New Event</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}